@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    @apply w-5 h-5
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-white rounded-lg my-5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-lg
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-primary
}

/* REMOVE ARROWS FROM INPUT NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* CUSTOMIZED CALENDAR */
/* using important to override default styles */
.sdp{
    
    @apply bg-transparent w-280 2xs:w-295 text-12 2xs:text-14 !important;
    --theme-color: #22160F !important;
    --font: "Poppins" !important;
    --shadow: "none" !important;
}
.sdp--square-btn {
    @apply bg-transparent h-16 w-16 !important
}
.sdp--theme-color {
    @apply bg-primary !important
}
.sdp--dates-grid {
    gap: 2px !important;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    margin: 2px 0 0 !important;
}
.sdp--month-name {
    padding: 0px !important;
}
.sdp--dates-grid>p.sdp--text {
    padding: 0px !important;
}